.headerContainer {
    width: 100%;
    background-color: #283e4a;
    color: #fff;

}
.headerContent {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center; 
    
}
.brand {
    display: flex;
}
.headerNav {
    margin-bottom: 0px !important;
    display: flex;
    align-self: center;
  
}
li {
    list-style: none;
    padding: 0.6%;
    text-align: center;
}
.logo {
    font-size: 4.4em;
    align-self: center;
}
.headerIcon {
    font-size: 1.9em;
}
.search {
    background-color: #e1e9ee;
    border-radius: 5px;
    border-style: none;
    width: 120%;
    height: 40px;
    align-self: center;

}

@media screen and (max-width: 769px) {
    ul {
        display: none;
    }
    .brand {
        width: 90vw;
    }
}