.footerWrapper {
    background-color: #283e4a;
    width: 100%;
    padding: 2%;
}
.footerItem {
    width: 10%;
    margin: auto;
}
.footerLogoText {
    color: #4d4d4d
    !important;
    font-weight: 700;
}
.footerLogo {
    font-size: 4.4em;
    align-self: center;
}